.queue {
  margin: 3rem auto;
}

.queueList {
  padding: 5% 0;
  border-color: #0a3d0371;
  border-style: solid none;
  overflow: hidden;
  margin-right: 3rem;
  height: 15rem;
}

.queueList ul {
  margin: auto;
  padding: 2rem;
  list-style-type: none;
  animation: moveQueue 10s linear infinite;
}

@keyframes moveQueue {
  0% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(-100%);
  }
}
