.App {
  text-align: center;
  background-color: #282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.password{
  text-align: center;
  background-color: #282c34;
}

.songRequests{
  text-align: center;
  background-color: #282c34;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-input{
  background-color: transparent;
  border: 2px solid #04AA6D;
  color: #04AA6D;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-style: 'Consolas', monospace;
  margin: 4px 2px;
  border-radius: 8px;
}

.App-input:focus{
  outline: none
}

.App-Button{
  background-color: transparent;
  border: 2px solid #04AA6D;
  color: #04AA6D;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 8px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
 transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.App-Button:hover{
  cursor: pointer;
  color: white;
  box-shadow: 0 0 40px 40px #04AA6D inset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0%
  }
  to{
    opacity: 100%
  }
}
