.div {
  text-align: center;
  width: 40rem;
  height: 45rem;
  min-height: 20rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 3rem auto;
  /* padding: auto; */
  align-content: center;
}

.searchInput {
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;
  font-size: large;
  text-align: left;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.searchInput:focus {
  outline: none;
}

.results {
  border-bottom-right-radius: 10px;
  margin-top: 2rem;
  height: 35rem;
  overflow-y: auto;
  display: block;
}

.results::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.results::-webkit-scrollbar-track {
  border-radius: 10px;
}

.results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #0a3d0371;
}

.results li {
  text-align: left;
  list-style-type: none;
}

.noResults {
  display: none;
}
